:host {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  height: 3rem;
}

.title{
  text-transform: capitalize;
  text-align: center;
  color: white;
  letter-spacing: 4px;
  cursor: pointer;
  font-size: 2rem;
  flex: 1;
}
