header{
    padding: 30px,0px;
    text-align: center;
    background-color: rgb(235, 86, 86);
    
}
header h1{
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
}
header p{
    float: right;
    clear: none;
    text-align: right;
    color: white;
    letter-spacing: 3px;
    padding-right: 3%;
}
