header {
  text-align: center;
  background-color: rgb(235, 86, 86);
    align-items: center ;
    align-content: center;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 42px;
}
a {
  font-family: 'Lato', monospace;
  text-transform: capitalize;
  color: white;
  letter-spacing: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 28px;
  
}

