:host {
  font-size: 16px;
}

.card-background {
  padding: 0.1rem;
  max-width: 19rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  box-shadow: 0 0.2rem 1rem rgba(100, 100, 100, 0.5);
  cursor: pointer;
}

.card {
  border-radius: 10%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.8rem;
  background-color: white;

  &__id {
    color: black;
    margin-bottom: 0.5rem;
  }

  &__image-container {
    width: 100%;
    position: relative;

    img:nth-child(1) {
      width: 100%;
      transform: rotate(-20deg);
      opacity: 0.3;
      pointer-events: none;
    }

    img:nth-child(2) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }
}

.card-name {
  height: 2.5rem;
  text-transform: capitalize;
  color: white;
}
