* {
  font-family: "Lato";
  text-decoration: none;
}
.card_container {
  max-width: 300px;
  margin: 2px 2px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.card_pokemon {
  border-radius: 3%;
  margin: 6px;
  padding: 12px;
  text-align: center;
  background-color: white; /*usar color dependiendo del tipo*/
}
 
.card_img-container {
  background-color: rgba(79, 79, 79, 0.6);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  text-align: center;
}

.card_name {
  margin: 10px 0 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: "Lato";
  
}
.card_number {
  font-size: 20px;
}
.card_info {
  margin-top: 20px;
  
  color: black;
  cursor: pointer;
  overflow: hidden;
}
.card_icon {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin: auto;
  transition: 200ms all;
}
.pokeImg {
  height: 90%;
  width: 90%;
}
.card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.type-img {
  height: 30px;
  width: 80px;
}
