<div class="card_container">
  <div class="card_pokemon">
    <a>
      <header class="card_img-container">
        <img
          class="pokeImg"
          src="{{ imgLink }}"
          width="64"
          height="64"
          alt="poke_img"
        />
      </header>
      <div class="card_info">
        <span  class="card_number">
          {{ pokemon.id }}
        </span>
        <h3 class="card_name">
          {{ pokemon.name }}
        </h3>
        <div class="card_wrapper"></div>
      </div>
    </a>
  </div>
</div>
