<div class="flex fd-c jc-c ai-c main-container">
  <div class="flex fd-r styleChanger">
    <img
    (click)="changeTemplate()"
    [ngClass]="{'pika_boss--rotate': cardTable}"
    class="pika_boss"
    src="assets/pikachu.png"
    />
  <p>CLICK ON ME!!</p>
  </div>
  <table *ngIf="cardTable" class="pokemon-table">
    <thead>
      <tr>
        <th>ID</th>
        <th></th>
        <th>Pokemon</th>
        <th>Tipos</th>
        <th>PS</th>
        <th>Att</th>
        <th>Def</th>
        <th>AtEsp</th>
        <th>DefEsp</th>
        <th>Vel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemonList">
        <th>{{ pokemon.id }}</th>
        <td>
          <a [routerLink]="'/home/pokemon/' + pokemon.id" >
            <img src="{{ pokemon.sprites.front_default }}" alt="{{pokemon.name}}-small-image" class="pokemon-table__image"/>
          </a>
        </td>
        <td>
          <a [routerLink]="'/home/pokemon/' + pokemon.id" >
            <p class="pokemon-table__name">{{ pokemon.name }}</p>
          </a>
        </td>
        <td>
          <div class="flex fd-r jc-c pokemon-table__types">
            <ng-container *ngFor="let type of pokemon.types">
              <img
              src="/assets/types-icons/{{type.type.name}}.png"
              />
            </ng-container>
          </div>
        </td>
        <td *ngFor="let stat of pokemon.stats" >
          {{ stat.base_stat }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex jc-se pokemon-list" *ngIf="!cardTable">
    <ng-container *ngFor="let pokemon of pokemonList">
      <app-poke-card [pokemon]="pokemon"></app-poke-card>
    </ng-container>
  </div>
</div>

<!-- 
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage <= 1">
    Previous
  </button>
  <p>Page {{ currentPage }} of {{ numberOfPages }}</p>
  <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages">
    Next
  </button>
</div> -->