<div class="flex fd-c jc-c ai-c main-container">
  <div class="flex fd-r styleChanger">
    <img
    (click)="changeTemplate()"
    [ngClass]="{'pika_boss--rotate': cardTable}"
    class="pika_boss"
    src="assets/pikachu.png"
    alt=""
    />
    <p>CLICK ON ME!!</p>

    <app-search-component [placeholder]="'search pokemons here'" class="search-bar"></app-search-component>
  </div>
  <table *ngIf="cardTable" class="pokemon-table" aria-describedby="">
    <thead>
      <tr>
        <th id="">ID</th>
        <th id=""></th>
        <th id="">Pokemon</th>
        <th id="">Tipos</th>
        <th id="">PS</th>
        <th id="">Att</th>
        <th id="">Def</th>
        <th id="">AtEsp</th>
        <th id="">DefEsp</th>
        <th id="">Vel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemonsToShow">
        <th id="">{{ pokemon.id }}</th>
        <td>
          <a [routerLink]="'/pokemon/' + pokemon.id">
            <img src="{{ pokemon.sprites.front_default }}" alt="{{pokemon.name}}-small-image" class="pokemon-table__image"/>
          </a>
        </td>
        <td>
          <a [routerLink]="'/pokemon/' + pokemon.id">
            <p class="pokemon-table__name">{{ pokemon.name }}</p>
          </a>
        </td>
        <td>
          <div class="flex fd-r jc-c pokemon-table__types">
            <ng-container *ngFor="let type of pokemon.types">
              <img
              src="/assets/types-icons/{{type.type.name}}.png" alt=""
              />
            </ng-container>
          </div>
        </td>
        <td *ngFor="let stat of pokemon.stats" >
          {{ stat.base_stat }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pokemon-list" *ngIf="!cardTable">
    <ng-container *ngFor="let pokemon of pokemonsToShow">
      <app-poke-card [pokemon]="pokemon"></app-poke-card>
    </ng-container>
  </div>
</div>

<!-- 
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage <= 1">
    Previous
  </button>
  <p>Page {{ currentPage }} of {{ numberOfPages }}</p>
  <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages">
    Next
  </button>
</div> -->