<div class="main_container">
  <div class="top_box column_box">
    <div class="row_box styleChanger">
      <button (click)="changeStyle()" (click)="rotate()">
        <img
        [@rotatedState]="state"
        class="pika_boss"
        src="assets/pikachu.png"
        />
      </button>
      <p>CLICK ON ME!!</p>
    </div>
    <!-- <div *ngIf="!cardTable" class="pagination row_box">
      <button (click)="previousPage()" [disabled]="currentPage <= 1">
        Previous
      </button>
      <p>Pagina {{ currentPage }} de {{ numberOfPages }}</p>
      <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages">
        Next
      </button>
    </div> -->
  </div>
  <div class="main_box">
    <div *ngIf="cardTable">
      <table class="poke_table" cellspacing="1" cellpadding="1">
        <thead>
          <tr>
            <th width="80">ID</th>
            <th width="80"></th>
            <th width="80">Pokemon</th>
            <th width="80">Tipos</th>
            <th width="80">PS</th>
            <th width="80">Att</th>
            <th width="80">Def</th>
            <th width="80">AtEsp</th>
            <th width="80">DefEsp</th>
            <th width="80">Vel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of pokemonList">
            <th width="80">{{ pokemon.id }}</th>
            <th width="80">
              <img
                src="{{ pokemon.sprites.front_default }}"
                width="50"
                height="40"
                alt="poke_img"
                [routerLink]="'/home/pokemon/' + pokemon.id"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                style="cursor: pointer"
              />
            </th>
            <th width="80">
              <button class="nameClickable">
                <a
                  class="nameClickable"
                  [routerLink]="'/home/pokemon/' + pokemon.id"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >{{ pokemon.name }}</a
                >
              </button>
            </th>
            <th width="80">
              <img
                src="/assets/types-icons/{{
                  pokemon.types[0].type.name
                }}.png"
                width="45"
                height="20"
              />
              <img
                *ngIf="pokemon.types.length == 2"
                src="/assets/types-icons/{{
                  pokemon.types[1].type.name
                }}.png"
                width="45"
                height="20"
              />
            </th>
            <td width="80">{{ pokemon.stats[0].base_stat }}</td>
            <td width="80">{{ pokemon.stats[1].base_stat }}</td>
            <td width="80">{{ pokemon.stats[2].base_stat }}</td>
            <td width="80">{{ pokemon.stats[3].base_stat }}</td>
            <td width="80">{{ pokemon.stats[4].base_stat }}</td>
            <td width="80">{{ pokemon.stats[5].base_stat }}</td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    <div class="container" *ngIf="!cardTable">
      <div
        class="poke-list"
        *ngFor="let pokemon of pokemonList"
      >
        <app-poke-card [pokemon]="pokemon"> </app-poke-card>
      </div>
    </div>
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage <= 1">
        Previous
      </button>
      <p>Page {{ currentPage }} of {{ numberOfPages }}</p>
      <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages">
        Next
      </button>
    </div>
  </div>
</div>
