.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pika_boss {
  height: 48px;
  width: 48px;
  cursor: pointer;
}
.pika_boss {
  height: 48px;
  width: 48px;
  cursor: pointer;
}
p {
  color: white;
  font-size: 26px;
}

.styleChanger {
  background-color: transparent;
  padding: 8px;
  border: none;
  cursor: pointer;
}

table {
  background-color: #6970ad;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  font-size: 14px;
  text-align: center;
}

table thead {
  -webkit-text-stroke: 1px black;
  background-color: #42487b;
  font-size: 18px;
}

table th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  align-items: center;
  color: white;
}

.nameClickable {
  text-decoration: underline white;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 12px;
}

.nameClickable :hover {
  font-size: 13px;
}

.container {
  border: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
