/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;

  --bg-color-1: #393946;
  --bg-color-2: #353542;
  --header-color: #eb5656;
  --table-bg-color: #7d83bd;
  --table-cell-bg-color: #5a6096;

  --footer-heigth: 3rem;
  --header-heigth: 3rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.fd-c {
    flex-direction: column;
}

.fd-r {
    flex-direction: row;
}

.jc-c {
    justify-content: center;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-e {
    justify-content: end;
}

.ai-c {
    align-items: center;
}
