/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");
* {
    padding: 0;
    margin: 0;
}

:root {
  --bg-color-1: #393946;
  --bg-color-2: #353542;
  --header-color: #eb5656;
  --table-bg-color: #7d83bd;
  --table-cell-bg-color: #5a6096;
}

body {
    font-family: 'Lato';
    background:linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
}

.flex {
    display: flex;
}

.fd-c {
    flex-direction: column;
}

.fd-r {
    flex-direction: row;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}
