<div class="main_box column_box">
  <div class="info_top_box row_box">
    <div class="info_row">
      <table class="table table-borderless">
        <tr>
          <td></td>
          <td><h3>INFO</h3></td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">ID</td>
          <td>Nº{{ pokemon.id }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Heigth</td>
          <td>{{ pokemon.height }}m</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Weight</td>
          <td>{{ pokemon.weight }}kg</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Type</td>
          <td>
            <img
              src="/assets/types-icons/{{ pokemon.types[0].type.name }}.png"
              width="60"
              height="30"
              style="margin-right:5px;"
            />
            <img
              *ngIf="pokemon.types.length == 2"
              src="/assets/types-icons/{{ pokemon.types[1].type.name }}.png"
              width="60"
              height="30"
            />
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Abilities</td>
          <td>
            <span class="ability color text-uppercase">{{
              pokemon.abilities[0].ability.name
            }}</span>
            <span
              class="ability color text-uppercase"
              *ngIf="pokemon.abilities.length == 2"
            >
              {{ pokemon.abilities[1].ability.name }}
            </span>
            <span
              class="ability color text-uppercase"
              *ngIf="pokemon.abilities.length == 3"
            >
              {{ pokemon.abilities[2].ability.name }}
            </span>
          </td>
        </tr>
      </table>
    </div>

    <div class="imagen_box column_box">
      <img src="{{ mainImageLink }}" width="60%" alt="poke_img" />
      <span class="text-uppercase">{{ pokemon.name }}</span>
    </div>
    <div class="info_row">
      <table class="table table-borderless">
        <tr>
          <td></td>
          <td><h3>Stats Base</h3></td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">HP</td>
          <td>{{ pokemon.stats[0].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Attack</td>
          <td>{{ pokemon.stats[1].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Defense</td>
          <td>{{ pokemon.stats[2].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Special Attack</td>
          <td>{{ pokemon.stats[3].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Special Defense</td>
          <td>{{ pokemon.stats[4].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Speed</td>
          <td>{{ pokemon.stats[5].base_stat }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="false; else evolution3"></div>

  <ng-template #evolution3>
    <div class="evolution_main_box">
      <h3>EVOLUTION CHAIN</h3>
      <div class="evolution_images_box row_box">
        <div class="evo_img_box column_box">
          <img class="evo_img" src="{{ evolutionImagesLinks[0] }}" />
          <span class="text-uppercase">{{evolutionChainInfo[0][0] }}</span>
        </div>
        <div class="flecha_box">
          <span class= "text-uppercase" style="font-size: 16px" >{{evolutionChainInfo[1][2][0].trigger.name}}</span>
          <span class= "text-uppercase" style="font-size: 16px" >{{evolutionChainInfo[1][2][0].min_level}}+</span>
          <img class="flecha" src="assets/flecha_derecha.png" />
        </div>
        <div class="evo_img_box column_box">
          <img class="evo_img" src="{{ evolutionImagesLinks[1] }}" />
          <span class="text-uppercase">{{evolutionChainInfo[1][0]}}</span>
        </div>
        <div class="flecha_box">
          <span class= "text-uppercase" style="font-size: 16px">{{evolutionChainInfo[2][2][0].trigger.name}}</span>
          <span class= "text-uppercase" style="font-size: 16px">{{evolutionChainInfo[2][2][0].min_level}}+</span>
          <img class="flecha" src="assets/flecha_derecha.png" />
        </div>
        <div class="evo_img_box column_box">
          <img class="evo_img" src="{{ evolutionImagesLinks[2] }}" />
          <span class="text-uppercase">{{evolutionChainInfo[2][0]}}</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
