<div class="main_box" >  
    <div class="imagen_box">
        <img src= {{imgLink}}  width="256" height="256" alt="poke_img">
        <p>{{pokemon.name}}</p>
    </div>
    <div class="pokeinfo_box"> 
        <div class = "datos_box">  
            <div>
                <h3>
                    Datos Basicos
                </h3>
                <p>Tipo:</p>   
                <p>Altura</p> 
                <p>Peso</p> 
                <p>Tipo</p>              

            </div>
            <div>
                Stats
            </div>
        </div>
        <div class= "lineaEvolutiva">
            <div>
                EVOLUCION
            </div>
        </div>
    </div>
</div>



