:host {
  font-size: 16px;
  color: rgb(40, 40, 40);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 6rem;
  padding: 2rem 0;
  background-color: rgb(180, 180, 180);

  @media screen and (max-width: 700px) {
    margin: 0 2rem;
  }
}

.image-section {
  position: relative;
  padding: 1rem;
  max-width: 40%;

  @media screen and (max-width: 700px) {
    max-width: 80%;
  }
  
  &__back-image {
    transform: rotate(-20deg);
    opacity: 0.3;
    width: 100%;
  }
  &__pokemon-image {
    position: absolute;
    width: 80%;
    left: 24px;
    top: 24px;
  }
}

.name-section {
  font-size: large;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}

.information-section {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  
  .basic-info {
    display: inline-flex;
    gap: 1.5em;
    
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
    
    div:nth-of-type(1) {
      font-weight: bold;
      text-align: end;
    }
    div:nth-of-type(2) {
      text-align: center;
      
      > div {
        display: inline-flex;
        justify-content: center;
        gap: 0.4rem;
    
        img {
          max-width: 5rem;
        }
  
        span {
          /* cambiar color dependeiendo del tipo mirar como hacerlo */
          background-color: #c06d51;
          color: white;
          border-radius: 0.5rem;
          padding: 0.3rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .stats-info {
    border-spacing: 0.5rem;
    
      .bold-td {
      font-weight: bold;
    } 

    th {
      text-align: right;
      font-weight: bold;
      text-transform: capitalize;
    }
  
    td {
      text-align: center;
    }

  }
}

.evolution-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.2); 
  max-width: 90%;
  padding: 1rem 2rem;

  &__stage {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__stage-evolution {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;

    div {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  
      > img {
        width: 100%;
        max-width: 200px;
      }
    }
    
    :nth-child(odd){
      position: relative;
      > p {
        position: absolute;
        text-align: center;
        font-size: small;
        inline-size: max-content;
        max-width: 130px;
        right: -18px;
        bottom: 50px;
      }
    }

    :nth-child(even){
      > p {
        text-transform: uppercase;
      }
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;

    &__stage {
      flex-direction: row;
    }

    &__stage-evolution {
      flex-direction: column;

      :nth-child(odd) {
        flex-direction: row-reverse;
        > p {
          font-weight: bold;
          top: 0px;
          left: 50px;
        }
      }
    }

    .rotate-arrow {
      transform: rotate(90deg)
    }
  }
}

.margin_evee {
  margin-left: 100px;
  margin-right: 100px;
}

.flechaUpLeft {
  transform: rotate(-135deg) !important;
}
.flechaUp {
  transform: rotate(-90deg) !important;
}
.flechaUpRight {
  transform: rotate(-45deg) !important;
}
.flechaLeft {
  transform: rotate(-180deg) !important;
}
.flechaDownLeft {
  transform: rotate(135deg) !important;
}
.flechaDown {
  transform: rotate(90deg) !important;
}
.flechaDownRight {
  transform: rotate(45deg) !important;
}
