<div class="main_box">
  <div class="pokemon-info">
      <div class="pokemon-info__basic-info">
      
      <div class="basic-info-col">
        <p>ID</p>
        <p>Height</p>
        <p>Weight</p>
        <p>Type</p>
        <p>Abilities</p>
      </div>
      <div class="basic-info-col">
        <p>Nº{{ pokemon.id }}</p>
        <p>{{ pokemon.height / 10 }}m</p>
        <p>{{ pokemon.weight / 10 }}kg</p>
        <div class="pokemon-info__types">
          <img
            src="/assets/types-icons/{{ pokemon.types[0].type.name }}.png"
            alt=""
          />
          <img
            *ngIf="pokemon.types.length == 2"
            src="/assets/types-icons/{{ pokemon.types[1].type.name }}.png"
            alt=""
          />
        </div>
        <div class="pokemon-info__abilities">
          <span *ngFor="let ability of pokemon.abilities" >
            {{ability.ability.name}}
          </span>
        </div>
      </div>
    </div>

    <div class="pokemon-info__pokemon-image">
      <img
        class="pokemon-back-image"
        src="assets/card_background.png"
        [ngStyle]="setPokemonBackColor(pokemon.types[0].type.name)"
        alt="pokemon-back-image"
        />
      <img
        class="pokemon-image"
        src="{{ mainImageLink }}"
        alt="pokemon-image"
      />
      <div>{{ pokemon.name }}</div>
    </div>

    <div class="info_row">
      <table class="table table-borderless">
        <tr>
          <td></td>
          <td><h3>Stats Base</h3></td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">HP</td>
          <td>{{ pokemon.stats[0].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Attack</td>
          <td>{{ pokemon.stats[1].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Defense</td>
          <td>{{ pokemon.stats[2].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Special Attack</td>
          <td>{{ pokemon.stats[3].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Special Defense</td>
          <td>{{ pokemon.stats[4].base_stat }}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Speed</td>
          <td>{{ pokemon.stats[5].base_stat }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
