// buscar si se puede hacer sin media q y limpiar mas el codigo

:host {
  font-size: 16px;
  color: rgb(40, 40, 40);
}

.wrapper {
  background-color: rgb(217, 217, 217);
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);

  margin: 0 16px;
  padding: 32px 16px;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.image-section {
  grid-column: span 2;
  position: relative;
  display: flex;
  justify-content: center;
  
  &__back-image {
    transform: rotate(-20deg);
    opacity: 0.3;
  }
  &__pokemon-image {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  @media screen and (max-width: 700px) {
    img {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
     grid-column: span 1;
  }
}

.name-section {
  grid-column: span 2;
  font-size: large;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: 600px) {
    grid-column: span 1;
  }
}

.basic-info {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  
  div:nth-of-type(1) {
    font-weight: bold;
    text-align: end;
  }
  div:nth-of-type(2) {
    text-align: center;
    
    > div {
      display: inline-flex;
      justify-content: center;
      gap: 0.4rem;
  
      img {
        max-width: 5rem;
      }

      span {
        background-color: #c06d51;
        color: white;
        border-radius: 0.5rem;
        padding: 0.3rem;
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
          font-size: 0.5em;
       }
      }
    }
  }
}

.stats-info {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  text-align: center;
  
  table {
    border-spacing: 0.5rem;
  }

  .bold-td {
    font-weight: bold;
  } 

  th {
    font-weight: bold;
    text-transform: capitalize;
  }

}

.evolution-section {
  grid-column: span 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16px;

  &__stage {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__stage-evolution {
    display: inline-flex;
    align-items: center;
    gap: 2.5rem;

    div {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  
      > img {
        width: 100%;
        max-width: 200px;
      }
    }
    
    :nth-child(odd){
      position: relative;
      > p {
        position: absolute;
        text-align: center;
        font-size: small;
        inline-size: max-content;
        max-width: 130px;
        right: -10px;
        bottom: 50px;
      }
    }

    :nth-child(even){
      > p {
        text-transform: uppercase;
      }
    }
  }

  // falta corregir esto para el caso de multiples evoluciones
  @media screen and (max-width: 700px) {
    flex-direction: column;

    &__stage {
      flex-direction: row;
    }

    &__stage-evolution {
      flex-direction: column;

      :nth-child(odd) {
        flex-direction: row-reverse;
        > p {
          display: none;
          // font-weight: bold;
          // top: 0px;
          // left: 50px;
        }
      }
    }

    .rotate-arrow {
      transform: rotate(90deg)
    }
  }

  @media screen and (max-width: 600px) {
    grid-column: span 1;
  }
}



.flechaUpLeft {
  transform: rotate(-135deg) !important;
}
.flechaUp {
  transform: rotate(-90deg) !important;
}
.flechaUpRight {
  transform: rotate(-45deg) !important;
}
.flechaLeft {
  transform: rotate(-180deg) !important;
}
.flechaDownLeft {
  transform: rotate(135deg) !important;
}
.flechaDown {
  transform: rotate(90deg) !important;
}
.flechaDownRight {
  transform: rotate(45deg) !important;
}
